<style>
  .btn-space {
    margin-right: 10px;
  }

  myModal {
    z-index: 2147483647;
  }
</style>

<div ng-init="vm.init()">
  <div class="container">
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <div class="form-group">
        <label for="nomePessoa">Nome: </label>
        <input type="nome" class="form-control" id="nomePessoa" ng-model="vm.pessoa.nome"
          placeholder="Digite o nome da pessoa ...">
      </div>
      <div class="form-group">
        <label for="emailPessoa">Email</label>
        <input type="text" class="form-control" id="emailPessoa" ng-model="vm.pessoa.email"
          placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="nascimentoPessoa">Data de nascimento</label>
        <input type="text" class="form-control" id="nascimentoPessoa" ng-model="vm.pessoa.dataNascimento"
          ui-mask="99/99/9999" style="width: 120px;">
      </div>
      <div class="form-check">
        <input class="form-check-input" ng-checked="vm.pessoa.situacao"
          ng-click="vm.pessoa.situacao = !vm.pessoa.situacao" type="checkbox" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Situação
        </label>
      </div>
      <div class="row" style="float: left;">
        <button type="button" class="btn btn-primary btn-space" ng-click="vm.abrirModal(vm.pessoa.id)">Endereço</button>
      </div>
      <div class="row" style="float: right;">
        <button type="button" class="btn btn-primary btn-space"
          ng-click="vm.incluirAlterarPessoa(vm.pessoa)">Salvar</button>
        <button type="button" class="btn btn-danger" ng-click="vm.cancelar()">Cancelar</button>
      </div>
    </form>
</div>

<div class="modal fade" id="modalEndereco" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="nomeLocalidade">Cidade: </label>
              <input type="nomeLocalidade" class="form-control" id="nomeLocalidade" ng-model="vm.endereco.localidade"
                placeholder="">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nomeUF">UF: </label>
              <select class="custom-select custom-select-sm" 
                ng-model="vm.uf" ng-options="uf for uf in vm.listaUF">
                <option value="">-- UF --</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="nomeLogradouro">Logradouro: </label>
              <input type="nomeLogradouro" class="form-control" id="nomeLogradouro" ng-model="vm.endereco.logradouro"
                placeholder="">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="nomeCep">CEP: </label>
              <input type="nomeCep" class="form-control" id="nomeCep" ng-model="vm.endereco.cep"
                placeholder="">
            </div>
          </div>
        </div>
      
      <div class="form-group">
        <label for="nomeBairro">Bairro: </label>
        <input type="nomeBairro" class="form-control" id="nomeBairro" ng-model="vm.endereco.bairro"
          placeholder="">
      </div>

    <div class="form-group">
      <label for="nomeComplemento">Complemento: </label>
      <input type="nomeComplemento" class="form-control" id="nomeComplemento" ng-model="vm.endereco.complemento"
        placeholder="">
      </div>

  </div>


      <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-space"  data-dismiss="modal">Salvar</button>
      <button type="button" class="btn btn-danger" ng-click="vm.limparEndereco()">Cancelar</button>
      </div>
    </div>
  </div>
</div>