<div ng-init="vm.init()">
  <div class="container">
    <div
      ng-class="{'disabledDiv': vm.endereco !== undefined}"
      style="text-align: right;"
    >
      <img
        src="../../../app/imagens/bootstrap-icons/icons/person.svg"
        style="cursor: pointer;"
        alt=""
        width="25"
        height="25"
        title="Incluir Perfil"
        ng-click="vm.editar()"
      />
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nome</th>
          <th scope="col">Descricao</th>
          <th scope="col">Data/Hora Inclusão</th>
          <th scope="col">Data/Hora Alteração</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="perfil in vm.listaPerfis">
          <td>{{perfil.id}}</td>
          <td>{{perfil.nome}}</td>
          <td>{{perfil.descricao}}</td>
          <td>
            {{vm.dataFormat(perfil.dataHoraInclusao)}}
          </td>
          <td>
            {{vm.dataFormat(perfil.dataHoraAlteracao)}}
          </td>
          <td>
            <img
              src="../../../app/imagens/bootstrap-icons/icons/pencil.svg"
              alt=""
              width="25"
              height="25"
              title="Editar"
              ng-click="vm.editar(perfil.id)"
            />
          </td>

          <td>
            <img
              src="../../../app/imagens/bootstrap-icons/icons/trash.svg"
              alt=""
              width="25"
              height="25"
              title="Excluir"
              ng-click="vm.excluir(perfil.id)"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
