<style>
  .btn-space {
    margin-right: 10px;
  }
</style>
<div ng-init="vm.init()">
  <div class="container">
    <form>
      <div class="mx-auto" style="width: 200px;">
        <h5 class="modal-title">{{vm.tituloTela}}</h5>
      </div>
      <div class="form-group">
        <label for="nomePerfil">Nome: </label>
        <input
          type="nome"
          class="form-control"
          id="nomePerfil"
          ng-model="vm.perfil.nome"
          placeholder="Digite o nome da perfil ..."
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Descrição: </label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          ng-model="vm.perfil.descricao"
        ></textarea>
      </div>
      <div class="form-group">
        <label for="dataHoraInclusao">Data de Inclusão</label>
        <input
          type="text"
          class="form-control"
          id="dataHoraInclusao"
          ng-model="vm.perfil.dataHoraInclusao"
          ng-disabled="true"
          ui-mask="99/99/9999"
          style="width: 120px;"
        />
      </div>
      <div class="form-group">
        <label for="dataHoraAlteracao">Data de Alteração</label>
        <input
          type="text"
          class="form-control"
          id="dataHoraAlteracao"
          ng-model="vm.perfil.dataHoraAlteracao"
          ng-disabled="true"
          ui-mask="99/99/9999"
          style="width: 120px;"
        />
      </div>
      <div style="height: 33px;"></div>
      <div class="row" style="float: right;">
        <button
          type="button"
          class="btn btn-primary btn-space"
          ng-click="vm.incluirAlterarPerfil(vm.perfil)"
        >
          Salvar
        </button>
        <button type="button" class="btn btn-danger" ng-click="vm.cancelar()">
          Cancelar
        </button>
      </div>
    </form>
  </div>
</div>
